*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #f7f5e7;
	color: #333;
}

html, body, button, input, select, textarea {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Bitter, Georgia, serif;
	line-height: 1.3;
}

a {
	color: #f79044;
}

#content a {
	color: #bc360a;
}

abbr {
	/*background: #ffe5a5;*/
	color: #a26d42;
	cursor: help;
}

.snap-content {
	background: #f7f5e7;
	padding: 20px;
	top: 60px;
}

.snap-drawers {
	top: 60px;
	background: #31343C;
}

.snap-drawer {
	background: #31343C;
	color: #eee;
	padding: 0;
}

#sideNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sideNav li {
	padding: 0;
	border-bottom: 1px solid #4F5461;
}

#sideNav a {
	text-decoration: none;
	display: block;
	padding: 15px;
	text-transform: capitalize;
	transition: all 0.4s linear;
	background: #31343C;
	background: -webkit-linear-gradient(top, #31343C, #3b3f47);
	background: -moz-linear-gradient(top, #31343C, #3b3f47);
	background: -o-linear-gradient(top, #31343C, #3b3f47);
	background: linear-gradient(to bottom, #31343C, #3b3f47);
}

#sideNav a:hover {
	color: #fdaa3e;
	background: #42464e;
}

#sideNav a.active {
	background: #000;
	color: #ffe5a5;
}

#topNav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#topNav li {
	display: inline-block;
	background: #000;
	background: -webkit-linear-gradient(top, #444, #000);
	background: -moz-linear-gradient(top, #444, #000);
	background: -o-linear-gradient(top, #444, #000);
	background: linear-gradient(to bottom, #444, #000);
	margin-right: 20px;
}

#topNav li:last-of-type {
	margin-right: 0;
}

#topNav a {
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	color: #f79044;
	transition: all 0.2s ease;
}

#topNav a:hover {
	color: #fdaa3e;
	background: #42464e;
}

nav[role="navigation"] {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	padding: 10px;
	background: #000;
	background: -webkit-linear-gradient(top, #444, #000);
	background: -moz-linear-gradient(top, #444, #000);
	background: -o-linear-gradient(top, #444, #000);
	background: linear-gradient(to bottom, #444, #000);
	box-shadow: 0 0 5px #333;
}

nav[role="navigation"] button {
	border: none;
	cursor: pointer;
	background: transparent;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	color: transparent;
	transition: all 0.5s linear;
}

button#back {
	background: url(../images/nav_icon_back.png) no-repeat;
	background-size: contain;
}

button#menu {
	background: url(../images/nav_icon_menu.png) no-repeat;
	background-size: contain;
	position: absolute;
	left: 50%;
	margin-left: -20px;
}

button[disabled] {
	opacity: 0.5;
}

#content {
	left: 265px;
	right: 265px;
}

@media all and (max-width: 800px) {
	#content {
		left: 0;
		right: 0;
	}
}

#definitions article {
	background: #ffe5a5;
	color: #333;
	margin: 15px;
	padding: 0 0 1px 0;
	border-bottom: 1px solid #000;
	transition: all 0.3s linear;
}

#definitions h1 {
	background: #ffd275;
	padding: 5px 10px;
	margin: 0;
	font-size: 16px;
	text-transform: capitalize;
}

#definitions p {
	margin: 10px;
	font-size: 14px;
}
