/** Variables
* --------------------------------------------------------------

#4b565e = font color
#fefefe = light font color
#00AFB6 = link color
#9cd5e2 = link color light
#008489 = link color dark

*/

/**
* Google fonts
----------------------------------------------------------------------
*/

@import url(http://fonts.googleapis.com/css?family=Gudea:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

@font-face {
    font-family: 'entypo';
    src: url('entypo-webfont.eot');
    src: url('entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('entypo-webfont.woff') format('woff'),
         url('entypo-webfont.ttf') format('truetype'),
         url('entypo-webfont.svg#entyporegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
* Reset
----------------------------------------------------------------------
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}



article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none }

blockquote, q { quotes: none }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, select { vertical-align: middle }

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**
* Basic
----------------------------------------------------------------------
*/

html {
	font-size: 125%;
}

body {
	line-height: 1;
	font-weight: 400;
	font-family: 'Gudea', sans-serif;
	color: #4b565e;
	padding: 3em 1.33em;
	background: #4b565e;
}

/**
* Generic links
----------------------------------------------------------------------
*/

a, a:visited {
	color: #00AFB6;
	text-decoration: none;
}

a:hover {
	color: #008489;
}

a:focus { outline: thin dotted; }

a:active {
	outline: none;
}

p a { border-bottom: 1px solid }
p a:hover { border-bottom: 2px solid }
p a:active { border-bottom: 3px solid }

/**
* Flow
----------------------------------------------------------------------
*/

body * + * {
	margin-top: 26px;
	margin-top: 1.33rem;
}

li, dt, dd {
	margin-top: 0;
}

p + p {
	margin-top: 0.75em;
}

blockquote, figure {
	padding: 26px;
	padding: 1.33rem;
}

figure {
	line-height: 1.33;
	text-align: left;
	border: 1px solid;
}

blockquote p {
	font-size: 1.25em;
	font-style: italic;
	margin-top: 1.33em;
}

caption {
	text-align: center;
	padding: 0.75em;
	padding-bottom: 0;
}

blockquote footer:before {
	content: '\2014';
	padding: 0 9px 0 0;
}

blockquote p:before, q:before { content: '\201C' }

blockquote p:after, q:after { content: '\201D' }

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
* Paragraphs and lists
----------------------------------------------------------------------
*/

p, li, dt, dd {
	line-height: 1.33;
}

p {
	text-align: justify;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

p:only-child, p:only-of-type, header p {
	text-align: left;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}

p * { margin-top: 0 }

[role="main"] > div > p:first-child:first-letter {
    float: left;
    font-size: 3.66em;
    line-height: 1;
    vertical-align: super;
}

/* for introductory paragraphs belonging to major sections */
header p { font-size: 1.25em }

li { list-style: disc inside }

ol li { list-style-type: decimal }

dl {
	/*word-spacing: -4px;*/
}

dt, dd {
	background: #C1D1BF;
	padding: 0.75em;
	margin: 0.75em;
	box-shadow: 5px 5px 0 #222;
}

dt {
	font-weight: bold;
	margin-bottom: 0;
	padding-bottom: 0;
	text-transform: capitalize;
}

dd + dt {
	margin-top: 0.75em;
}

dd {
	margin-top: 0;
}

/**
* <nav> sections
----------------------------------------------------------------------
*/

[role="navigation"] {
	position: relative;
}

[role="navigation"] ul {
	background: #00AFB6;
	margin-top: 0;
	padding-top: 0.75em;
}

[role="navigation"] li, .tabs-nav li {
	letter-spacing: normal;
	list-style: none;
	vertical-align: middle;
	line-height: 1;
}

[role="navigation"] a, [role="navigation"] a:hover, [role="navigation"] a:active, [role="navigation"] a:visited, .tabs-nav a {
	outline: none;
	padding: 0.75em 0.75em 0.75em 0;
	display: block;
	text-align: left;
	font-size: 20px;
	font-size: 1rem;
	color: #fff;
	font-family: 'varela round', sans-serif;
	margin: 0 0.75em;
}

[role="navigation"] a:hover, [role="navigation"] a:active, [role="navigation"] a:focus, [role="navigation"] a[aria-selected] {
	color: #f2e85b;
}

a[aria-selected]:after {
	font-family: entypo;
	content: '\e4ae';
	padding: 0 0 0 0.25em;
	font-size: 1.5em;
	line-height: 0;
	position: relative;
	top: 2px;
}

[role="navigation"] li + li a, [role="navigation"] li + li a:hover, [role="navigation"] li + li a:focus {
	border-top: 2px solid #fff;
}

[role="navigation"] h2 {
	padding: 0.33em 0;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	background: #008489;
	position: relative;
}

[role="navigation"] h2:after {
	content: '\25bc';
	color: #008489;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
	font-size: 0.8em
}

#auxNav {
	padding: 0 0.75em 1.5em;
}

#auxNav li {
	list-style: none;
	line-height: 1.125;
}

#auxNav li + li {
	padding-top: 0.75em;
}

#auxNav a:hover, #auxNav a:focus {
	color: #008489;
}

/**
* Headings
----------------------------------------------------------------------
*/

h1, h2, h3, h4 {
    font-weight: 700;
	line-height: 1;
	font-family: 'varela round', sans-serif;
}

* + h1, * + h2, * + h3 { margin-top: 1em; }
* + h4 { margin-top: 1.33rem }

h4 { font-size: 1em }
h3 { font-size: 1.33em }
h2 { font-size: 2em }
h1 { font-size: 2.75em }

h1 {
	text-transform: capitalize;
}

h2 {
	text-transform: lowercase;
}

h2:first-letter {
	text-transform: uppercase;
}

header > div {
	border-bottom: 2px solid;
	padding-bottom: 26px;
	padding-bottom: 1.33rem;
}

header + * {
	margin-top: 60px;
	margin-top: 3rem;
}

header * {
	margin-top: 0.25em;
}

section + section {
	margin-top: 3em;
}

/**
* Phrasing
----------------------------------------------------------------------
*/

p * { line-height: 1; }

strong, abbr, b { font-weight:700 }
em, cite, q { font-style: italic }
del { text-decoration: line-through }
abbr[title], dfn[title], .term { cursor: help }

abbr, .term {
	border-bottom: 2px dotted #00AFB6;
}

abbr:focus, abbr:hover, .term:focus, .term:hover {
	background: transparent !important;
	border-bottom-style: solid;
}

.term:after, abbr:after {
	font-size: 1.25em;
	color: #00AFB6;
	vertical-align: super;
	content: '\e704';
	font-family: entypo;
	font-weight: normal;
	line-height: 0;
}

small {
	font-size: 0.9em;
	color: #444;
}

code, samp {
	background: #fefefe;
	padding: 0.25em;
	font-family: 'Lucida Console', monospace;
	font-size: 0.9em;
	letter-spacing: 1px;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}

sup, sub {
	line-height: 0;
	font-size: 0.8em;
}

sup {
	vertical-align: super;
	font-style: italic;
}

sub {
	vertical-align: sub;
	position: relative;
	top: -0.125em;
	font-size: 0.8em;
}

kbd {
	font-family: 'Lucida Console', monospace;
	border: 2px solid;
	padding: 0 0.125em;
	white-space: nowrap;
}

/**
* Images
----------------------------------------------------------------------
*/

img {
	max-width: 100%;
	height: auto;
	border: 0;
}

figure {
	padding: 0.75em;
	text-align: left;
	position: relative;
}

figure:before {
	font-family: entypo, 'varela round', sans-serif;
	content: '\1f4a1';
	font-size: 4em;
	line-height: 0;
	display: inline-block;
	color: #E8DD11;
}

figure img {
	max-width: 75%;
}

figcaption {
	font-style: italic;
	margin-top: 15px;
	margin-top: 0.75rem;
}

/**
* Code blocks
----------------------------------------------------------------------
*/

pre {
	background: #4b565e;
	color: #fefefe;
	padding: 26px;
	padding: 1.33rem;
	font-family: 'Lucida Console', monospace;
	white-space: pre-wrap;
	line-height: 1.33;
	font-size: 0.85em;
}

/**
* Forms
----------------------------------------------------------------------
*/

/*

Uses the format

<form>
	<fieldset>
		<legend></legend>
		<div>
			<label></label>
			--form input / textarea etc--
		</div>
		<div>
			... " ...
		</div>
	</fieldset>
</form>

*/

fieldset {
	padding: 1.33em;
	border: 2px solid #4b565e;
}

legend {
	font-size: 25px;
	font-size: 1.25rem;
	font-style: italic;
	padding: 0 0.5em;
}

legend + div {
	margin-top: 0;
}

form div > * {
	display: block;
}

label {
	line-height: 1;
	font-weight: 700;
}

input, textarea, select {
	font-size: inherit;
	font-family: inherit;
	margin-top: 0.33em;
	line-height: 1.33;
	width: 100%;
	padding: 0.25em;
	border: 2px solid #4b565e;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

form p + p {
	margin-top: 0.75em;
	text-indent: 0;
}

input:focus, textarea:focus, select:focus {
	outline: 2px solid #4b565e;
}

option {
	margin-top: 0;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
	padding: 0;
	border: 0;
	margin-top: 0;
}

label input {
	display: inline-block;
	margin-right: 0.5em;
	vertical-align: baseline;
}

/**
* Buttons
----------------------------------------------------------------------
*/

button, a[role="button"], a[role="button"]:visited, a[role="button"]:hover,
[type="submit"], [type="reset"], #menu {
	background: #00AFB6;
	border: 0;
	color: #fefefe;
	display: inline-block;
	font-size: 1.25em;
	padding: 0.25em 0.5em;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	letter-spacing: 2px;
	width: auto;
	font-family: inherit;
}

button:focus, [role="button"]:focus,
[type="submit"]:focus, [type="reset"]:focus {
	outline: none;
	background: #9cd5e2;
}

button:active, [role="button"]:active,
[type="submit"]:active, [type="reset"]:active {
	background: #008489;
	border: 0;
}

ul[role="toolbar"] li {
	list-style: none;
	display: inline-block;
	margin: 0;
}

ul[role="toolbar"] button, ul[role="toolbar"] a {
	margin: 0.25em 0;
}

button[disabled], input[disabled] {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
  cursor: default;
}

button[disabled]:hover, button[disabled]:focus,
input[disabled]:hover, input[disabled]:focus {
	opacity: 0.5;
}

/**
* Grid-like helper styles
* For making quasi-columns / adjacent boxes. Example HTML to follow
----------------------------------------------------------------------
*/

/* to remove inline-block white space separating children */
div[class^="group"] {
	font-size: 0;
	text-align: left;
	display: block;
	width: auto !important;
}

div[class^="group"] > * {
	font-size: 20px;
	font-size: 1rem; /* override reset in above rule */
	display: inline-block; /* floats are for losers */
	vertical-align: top;
	margin-top: 0;
}

/* adjacent boxes need gutters. We create this using margin on their direct children  */
div[class^="group"] > * > * {
	margin: 0 0.75em 0 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	width: auto !important;
	overflow: hidden;
}
div[class^="group"] > * + * > * { margin: 0 0.75em 0 }
div[class^="group"] > *:last-child > * { margin-right: 0 }

/* One from each of the following sets of three to be placed on the containing div element */

/* Set 1: Horizontal alignment of boxes */
div.group-left { text-align: left }
div.group-center { text-align: center }
div.group-right { text-align: right }

/* Set 2: Vertical alignment of boxes */
div.group-top > * { vertical-align: top }
div.group-middle > * { vertical-align: middle }
div.group-bottom > * { vertical-align: baseline }

/**
* EXAMPLE
* Inline styles are used to define width
*(saves on spawning classes like ".three-fifths" etc)
* Boxes are centered on vertical axis
********************************************

<div class="group-center group-middle">
	<div style="width:50%">
		<div><!-- box content --></div>
	</div>
	<div style="width:30%">
		<div><!-- box content --></div>
	</div>
	<div style="width:20%">
		<div><!-- box content --></div>
	</div>
</div>

*/

/**
* Utilities
----------------------------------------------------------------------
*/

.a11y-hide {
	display: inline-block;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.a11y-none {
	display: none;
}

/**
* Collapsable definition items
* Uses the 5k collapse plugin (http://webcloud.se/jQuery-Collapse/)
----------------------------------------------------------------------
*/

.box dt, .box dd {
	display: block;
	text-align: left;
	width: auto;
	padding: 0;
}

.box dt  a {
	padding: 12px 12px;
	background: #00AFB6;
	display: block;
	color: #fefefe;
	font-style: normal;
}

.box dt {
	margin-bottom: 6px;
}

.box dt a:before {
	content:'\25B6';
	padding-right: 0.5em;
}

.box dt.open a:before {
	content:'\25BC';
}

.box dt.open {
	margin-bottom: 0;
}

.box dd {
	padding: 12px 0;
}

.box dt  a:hover, .box a:active, .box a:focus {
	background: #008489;
}

/**
* Accessible tabs
----------------------------------------------------------------------
*/

.tabs > div .tabs-panel {
	display: none;
	background: #fefefe;
	padding: 1.33em 1em;
}

.tabs-panel {
	margin-top: 0;
}

.tabs > div .tabs-panel-selected { display: block; }

.tabs-nav a {
	margin-bottom: 0;
}

li.tabs-selected a {
	background: #fefefe;
	color: #4b565e;
}

.tabs-body {
	margin-top: 0;
}

.snap-content {
	padding: 70px 20px 10px 20px;
}

body {
	padding: 0;
}

.snap-drawers, #content {
	top: 60px;
	margin-top: 0;
}

[role="main"] h1 {
	padding-bottom: 1.33rem;
	border-bottom: 3px solid;
}

.snap-drawer {
	background: #b8d6e7;
	margin-top: 0;
}

.snap-drawer-right {
	background: #4b565e;
}

.snap-drawer-right dt:before {
	font-family: entypo;
	font-size: 1.5em; 
	line-height: 1;
	content: '\E704';
	padding: 0 0.25em 0 0;
	font-weight: normal;
}

#controls {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	padding: 10px;
	background: #4b565e;
	text-align: right;
}

#controls button, #menu {
	background: transparent;
	line-height: 40px;
	padding: 0;
}

#controls button:hover, #menu:hover, #controls button:focus, #menu:focus {
	color: #00AFB6;
}

#menu:before {
	content: '\2630\0020';
}

button[disabled] {
	visibility: hidden;
}

#back {
	margin-right: 265px;
}

#back:before {
	content: '\21b0\0020';
}

#content {
	left: 265px;
	right: 265px;
	margin: 0;
	background: #fff;
	padding: 1.5em;
	box-shadow: 10px 10px #222222;
}

#container, h1 {
	overflow: hidden;
}

#content section {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	display: inline-block;
	height: 0;
	width: 0;
	overflow: hidden;
	float: left;
	margin: 0;
	padding: 0;
}

@media all and (max-width: 800px) {
	#content {
		left: 0;
		right: 0;
	}

	#menu {
		overflow: visible;
		height: auto;
		width: auto;
	}

}

#definitions dt, #definitions dd {
	transition: all 0.3s linear;
	opacity: 0;
	position: relative;
}

#definitions .close {
	position: absolute;
	top: 0.4em;
	right: 0.5em;
	font-size: 1em;
	line-height: 1;
	cursor: pointer;
}

#definitions dt.fadeIn, #definitions dd.fadeIn {
	opacity: 1;
}

summary {
	display: block;
	background: #00AFB6;
	padding: 0.5em;
	margin: 0;
	font-weight: bold;
	color: #fff;
}

summary:focus {
	background: #008489 !important;
}

summary + div {
	border: 1px solid;
	border-top: 0;
	padding: 0.75em; 
	margin-top: 0;
}

summary[role="button"], summary[role="button"]:hover {
	text-transform: none;
	letter-spacing: 0;
	font-size: 1em;
}

